@mixin size ($width, $height){
    width: $width;
    height: $height;    
}

.menu__contacto{
    @include size(100%,100vh);
    font-size: 2.5em;
    display: grid;
    align-items: center; 
    margin-top: -5%;
}
.contacto{
    @include size(80%,auto);
    margin: auto;    
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 10px;
    background: $colorPrimario;
    box-shadow: 0px 0px 3px 0px #fff;
}
.contacto__mapa{
    @include size(100%,auto);
    flex: 50%;
}
.contacto__mapa iframe{
    @include size(100%,100%);
    border-radius: 10px;
}
.contacto__formulario{
    @include size(100%,auto);
    flex: 50%;
    padding: 30px;
    text-align: center;
}
.contact-form-txt{
    @include size(100%,40px);
    color: $colorPrimario;
    border: 1px solid #bcbcbc;
    border-radius: 3px;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
}
.contact-form-txt::placeholder
{
    color: #aaa;
}
.contact-form-textarea{
    @include size(100%,130px);
    color: #000;
    border: 1px solid #bcbcbc;
    border-radius: 10px;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
    resize:none;
}
.contact-form-textarea::placeholder{
    color: #aaa;
}
.contacto__formulario .boton{
    @include size(100%,auto) 
    outline: none;
    border-radius: 3px;     
    text-transform: uppercase;
    padding: 10px 0;  
    font-size: 18px;
}