h1 {
    margin-top: 4rem;
    margin-bottom: 2em;
    font-size: 3rem;
    color: $colorSecundario;
    text-align: center;
    line-height: 1px;
}

h2 {
    text-transform:uppercase;
    margin-top: 3rem;
    margin-bottom: 1.5em;
    font-size: 2.5rem;
    color: $colorSecundario;
    text-align: center;
    line-height: 1px;
}